
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<div class="navbar-collapse collapse">
			<ul id="navGroup" class="nav navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href={{ url_for('home_page') }}><span class="fas fa-home"></span></a></li>
				{% if call_or_get(current_user.is_authenticated) %}
					<li class="nav-item"><a class="nav-link" href={{ url_for('projects_page') }}>Projets</a></li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav ml-auto">
				{% if call_or_get(current_user.is_authenticated) %}
				<li class="nav-item"><a class="nav-link" href={{ url_for('user.edit_user_profile') }}>{{ current_user.username }}</a></li>
				<li class="nav-item"><a class="nav-link" href={{ url_for('user.logout') }}>Sign out</a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href={{ url_for('user.login') }}>Sign in</a></li>
				<li class="nav-item"><a class="nav-link" href={{ url_for('user.register') }}>Register</a></li>
				{% endif %}
			</ul>

		</div>
	</nav>
