{% extends "layout.html" %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cards.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block extra_js %}
  <script src="{{url_for('static', filename='projectManagement.js')}}"> </script>
{% endblock %}

{% block content %}
	<div class="container">
  <div class="jumbotron">
    <h2>Project Page</h2>
    <p>Here we can create a new project inputing its name</p>
  </div>
</div>
	<h2>Ajout d'un nouveau projet </h2>
	<div class="container">
		<div class="row">
			<div class="col-md-8" id="addProject">
				<form method="Post" role="form">
					<input type="text" id="projectname" name="projectname" class="form-control" required>
					<button class="btn btn-lg btn-primary btn-block" type="button" >Ajouter un projet</button>
				</form>
				<br>
			</div>
		</div>
	</div>


  <div class="container">
    <hr>
    <h2 class="text-center">Les projets</h2>
    <hr>
    <div class="card-deck">
    {% for element in projectsContent %}
      <div class="card shadow-sm bg-white rounded w-25">
            <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    	    <div class="card-body" >
            <!-- Title -->
            <h4 class="card-title">{{element.name}}</h4>
            <hr>
            <!-- Text -->
    	      <p class="card-text">Id : {{element.id}}</p>

            <button class="btn btn-indigo btn-rounded btn-md">Choisir</button>


          </div>
    	 </div>
        {% if (element.id % 4)==0 %}
          <div class="w-100 hidden-md-down hidden-xl-up"><br/> <br/></div>
        {% endif %}
    {% endfor %}
  </div>

</div>



{% endblock %}
